@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=qFda35WCmI96Ajtm83upeyoaX6QPnlo6_PPrOg&skey=f20a355e8a5d18ab&v=v13) format('woff');
}
